
*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7fc8ff;
    height: 100vh;
}

body .main-container{
    margin: auto;
    background: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60rem;
    border-radius: 1rem;
}

body .main-container .main-container-movies{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4rem;
}

body .main-container .main-container-movies .main-container-movies-head h1{
    font-size: 2rem;
    font-weight: 750;
    margin: 2rem 0;
}

body .main-container .main-container-movies .main-container-movies-content {
    margin: auto 0;
}

body .main-container .main-container-movies .main-container-movies-content p {
    border-radius: 0.5rem;
    margin: 0.5rem 0.5rem 0.5rem 0;
    color: black;
    background-color: #f8fcff;
    border: 0.1rem solid #7fc8ff;
    display: inline-block;
    padding: 0.5rem 1rem;
}

body .main-container .main-container-movies .main-container-movies-content p i {
    color: #fff;
    margin-left: 0.5rem;
}

body .main-container .main-container-movies .main-container-movies-content .activeName {
    background-color: #7fc8ff;
    color: #fff;
}

body .main-container .main-container-movies .main-container-square {
    position: absolute;
    background-color: #e3f3ff;
    width: 3rem;
    height: 3rem;
    top: 0;
}


body .main-container .main-container-movies .main-container-circle {
    position: absolute;
    top: 0;
    right: 0;
    width: 10rem;
    height: 10rem;
    border-top: 0;
    border-left: 2rem solid #e3f3ff;
    border-right: 0;
    border-bottom: 2rem solid #e3f3ff;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-left-radius: 100%;
}

body .main-container .main-container-search {
    background-color: #f2faff;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 4rem;
}


body .main-container .main-container-search input {
    border: 0.1rem solid #7fc8ff;
    width: 100%;
    padding: 1.3rem 1.3rem;
    border-radius: 0.5rem;
}

.activeName {
    background-color: #7fc8ff;
    color: white;
}




/* body{
    background-color: #131313;
    font-size: 15px;
}


.main{
    background-color: rgb(0, 149, 255);
    padding: 80px;
    width: 90%;
    height: 20%;
    min-height: 70vh;
    min-width: 30vw;
    margin: 100px 0px 100px 0px;
    position: fixed;
}

.container{
    width: 600px;
    box-sizing: border-box;
    background-color: #fff;
    position: absolute;
    top: 5%;
    left: 44%;
    transform: translate(-40%, 50%);
    overflow: hidden;
    border-radius: 27px;
}

.container-form{
    padding: 60px 40px 20px 40px;
}

.container::before{
    content: '';
    width: 37px;
    height: 41px;
    background-color: rgb(178, 213, 237);
    position: absolute;
    left: 40px;
    top: -10px;
}

.container::after{
    content: '';
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 30px solid rgb(178, 213, 237);
    position: absolute;
    right: -90px;
    top: -90px;
}

.container-form-heading{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.movie-addition{
    background-color: rgb(204, 234, 244);
    padding: 50px 40px;
}

.movie-addition input{
    width: 100%;
    height: 100%;
    border: 1px solid rgb(115, 182, 205);
    padding: 16px;
    box-sizing: border-box;
    outline: none;
}


::placeholder{
    opacity: .7;

}


.container-form-content{
    display: flex;
    flex-wrap: wrap;
    transition: all 50ms linear;
}

a{
    margin: 0px 10px 17px 0px;
}


.btn{
    border: 2px solid lightblue;
    padding: 10px 17px;
    text-decoration: none;
    border-radius: 4px;
}

.btn-primary{
    color: #000000;
    font-weight: 500;
    background-color: #edf1f4;
}

.btn-primary:hover{
    background-color: rgb(13, 153, 234);
    color: #fff;
}

.checked {
    background-color: #7fc4fa !important;
    color: white !important;
}

i{
    display: none;
}

.inline {
    display: inline !important;
}


.select{
    background-color: rgb(13, 153, 234);
    color: #fff;
}


.fa-circle-check{
    margin: 0 5px 0 5px;
}



