.heading{
    background-color: #ee12a0;
}

.main-container-header{
    margin: 60px 0;
}

.main-container-item{
    position: relative;
    margin: 90px 0 40px;
    background-color: transparent;
    border: 1px solid #ee12a0;
    border-radius: 100%;
    padding: 70px 3px 74px;
}

.main-container-item i{
    position: absolute;
    top: -90px;
    left: 50%;
    height: 110px;
    margin: 20px 0;
    transition: all .4s ease;
    transform: translateX(-50%);
    color: #fff;
    border-radius: 100%;
    background: #ee12a0;
    font-size: 52px;
    line-height: 107px;
    width: 110px;
    
}


.btn {
    margin: 10px 0px 20px;
    padding: 12px 35px;
    background-color: #ee12a0; 
    color: #fff;
    text-decoration: none;
    border-radius: 40px;
    font-size: 14px;
    line-height: 1.42857143;
    border: 5px solid #ee12a0;
}

/* Hover part */

.main-container-item:hover{
    background-color: #ee12a0;
    transition: all 0.4s ease;
}

.fa-solid:hover{
    background-color: #fff;
    color: #ee12a0;
    border: none;
    border-radius: 100%;
    
}

.main-container-header-title:hover{
    color: #fff !important;
}

.main-container-item:hover a{
    background-color:  #8f0a60;
    border: 2px solid  #ee12a0;
}



.main-container-item:hover h2, .main-container-item:hover p {
    color: #fff;
}







