body{
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
}

.main-header{
    background-color: #262626;
    font-size: 13px;
    height: 54px;
    margin-bottom: 1px;
    line-height: 54px;
    z-index: 100;
    margin: 0;
    
}

.main-logo{
    display: flex;
    padding: 0 20px;
}

.main-logo a{
    display: flex;
    position: absolute;
    top: 18px;
    text-indent: -1;
    height: 18px;
    width: 152px;
    color: #fff;
    text-decoration: none;
    background: url(https://public-assets.envato-static.com/assets/log…08eb481b9451d379599dfed24868e52b6b2d66f5cf633.svg);
    background-size: 152px 18px;
    text-align: center;
    align-items: center;
}

.header-actions{
    display: flex;
    justify-content: flex-end;

    
}

.header-actions a{
    color: #fff;
    text-decoration: none;
    
    
}

.header-btn{
    display: inline-block;
    position: relative;
    padding: 0 20px;
    box-shadow: #6f9a37;
    background-color: #82b440;
    font-size: 15px;
    padding: 5px 20px;
    line-height: 1.5;
    border-radius: 4px;
    margin: 10px 20px;
}

.buy-now-btn{
    color: #fff;
    text-align: center;
    cursor: pointer;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    
}

/* Writing  Styles for header part */

.text-center{
    text-align: center;
}

header{
    padding:  60px 0;
    background-color: #070707;
    color: orange;
}

h1{
    font-size: 36px;
}

h4{
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;

}
h1, h2, h4{
    font-family: 'Droid Sans',sans-serif;
    font-weight: 700;
    line-height: 1.2;
}

.heading{
    background-color: orange;
    color: #fff;
    padding: 13px 15px;
    font-size: 18px;
    margin: 0;
}






/* Demo-1 columns Styling*/

body {
    font-family: muli, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

/* common styles */


.grid-center{
    display: grid;
    place-items: center;
}

/* main styles */

/* .main-container {
    width: 1140px;
    text-align: center;
    margin: 0% auto;
    padding: 80px 0px;
} */

.main-container-items {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 40px;
}

.main-container-item {
    position: relative;
    padding: 10px;
    box-shadow: 1px 2px 10px rgb(0 0 0 / 18%);
}


.main-container-item i {
    width: 126px;
    height: 126px;
    margin: 20px;
    font-size: 48px;
    display: grid;
    place-items: center;
    background-color: #fff;
    color: orange;
    border: 2px solid orange;
    border-radius: 50%;

}

.main-container-item p {
    color: #919191;
}

.btn {
    margin: 30px 0px 20px;
    padding: 14px 35px;
    background-color: orange;
    color: #fff !important;
}

/* Styling hover part */

.main-container-item::after {
    height: 100%;
    transition: all 0.5s linear;
}
.main-container-item:hover::after {
    height: 100%;
    transition: all 0.4s linear;
}

.main-container-item::after {
    position: absolute;
    content: " ";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: orange;
    z-index: -1;
}

.main-container-item:hover {
    color: #fff;
}

.main-container-header-title{
    color: #000000 !important;
    background-color: transparent !important;
}

.main-container-item:hover .main-container-header-title{
    color: #fff !important;
    background-color: transparent !important;
}



.main-container-item:hover i {
    background-color: orange;
    color: #fff;
    border-color: #fff;
}

.main-container-item  p {
    color: #000000 !important;
    background-color: transparent !important;
}

.main-container-item:hover p {
    color: #fff !important;
    background-color: transparent !important;
}

.main-container-item:hover .btn {
    background-color: #fff;
    color: orange !important;
}






