body{
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
}

.main-header{
    background-color: #262626;
    font-size: 13px;
    height: 54px;
    margin-bottom: 1px;
    line-height: 54px;
    z-index: 100;
    margin: 0;
    
}

.main-logo{
    display: flex;
    padding: 0 20px;
}

.main-logo a{
    display: flex;
    position: absolute;
    top: 18px;
    text-indent: -1;
    height: 18px;
    width: 152px;
    color: #fff;
    text-decoration: none;
    background: url(https://public-assets.envato-static.com/assets/log…08eb481b9451d379599dfed24868e52b6b2d66f5cf633.svg);
    background-size: 152px 18px;
    text-align: center;
    align-items: center;
}

.header-actions{
    display: flex;
    justify-content: flex-end;

    
}

.header-actions a{
    color: #fff;
    text-decoration: none;
    
    
}

.header-btn{
    display: inline-block;
    position: relative;
    padding: 0 20px;
    box-shadow: #6f9a37;
    background-color: #82b440;
    font-size: 15px;
    padding: 5px 20px;
    line-height: 1.5;
    border-radius: 4px;
    margin: 10px 20px;
}

.buy-now-btn{
    color: #fff;
    text-align: center;
    cursor: pointer;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    
}

/* Writing  Styles for header part */

.text-center{
    text-align: center;
    
    
    
}

header{
    padding:  60px 0;
    background-color: #070707;
    color: orange;
}

h1{
    font-size: 36px;
}

h4{
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;

}
h1, h2, h4{
    font-family: 'Droid Sans',sans-serif;
    font-weight: 700;
    line-height: 1.2;
}

/* Writing Demo-1 */

.demo-title{
    color: #fff;
    background: orange;
    margin: 0;
    font-size: 18px;
    padding: 13px 15px;
}

/* Styling Demo-1 Section */

#demo-section{
    padding: 80px 0px;
    border: 1px solid red;
}

h2{
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    
}

h2, p{
    color: #000000 !important;
    background: #fff !important;
}

.section-container::before{
    display: table;
    content: " "
}

.margin-bottom-60{
    margin-bottom: 60px;
}

p{
    margin: 0 0 10px;
    font-size: 14px;
}


/* Styling demo-1 columns */
.demo-row{
    margin-right: -15px;
    margin-left: -15px;
    display: flex;
    justify-content: space-around;
}

.demo-row::before{
    display: table;
    content: " ";
}

.col-sm-4{
    padding-right: 15px;
    padding-left: 15px;
}

.css-col .type-1{
    position: relative;
    overflow: hidden;
    margin: 40px 0;
    padding: 10px;
    transition: all .5s ease;
    box-shadow: 1px 2px 10px rgb(0 0 0 / 18%);
}

.css-col .type-1 .fa {
    width: 130px;
    height: 130px;
    margin: 20px;
    color: orange;
    border-radius: 100%;
    border: solid;
    font-size: 52px;
}

.css-col .type-1::after{
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    background: orange;
    transition: all .5s ease;
}

.fa{
    display: inline-block;
}

.fa-camera-retro:before {
    content: "\f083";
}





