@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@600&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li,a, img{
    font-family: 'Zilla Slab', serif;
    font-weight: 300;
    font-size: 18px;
    color:#1F1F24;
    text-decoration: none;

}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(180deg, #FFFFFF 14.1%, rgba(255, 255, 255, 0) 92.75%);

}

.navigation-logo{
  margin-left: 30px;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

.nav__links{
    list-style-type: none;
}

.nav__links li{
    display: inline-block;
    padding: 20px 40px;
    margin-left: 60px;
}


.nav-wrapper{
    width: 100px;
    margin: 30px auto;
}

.sl-nav li ul{
    display: none;
}

.language-option{
    list-style-type: none;
}

.header-info-details{
    display: flex;
    align-items: center;
    border: 2px solid #253476;
    padding: 13px;
    background-color:#253476;
    width: 305px;
}

.flag{
    margin-left: 10px;
}

.navbar-paragraph{
    color: #fff;
}

.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; 
    
}

.center-heading{
    color: #FFFFFF;
    font-family: 'Zilla Slab', serif;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    letter-spacing: 6px;
}

span{
    font-weight: 500;
}

/* Slideshow container */
.slideshow-container {
    max-width: 3000px;
    position: relative;
    margin: auto;
    right: 0;
    left: 0;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 30px;
    padding: 8px 12px;
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    height: 10%;
    z-index: 1;
    
}

  /* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }

  /* About Us Section */
  

  #about-us{
      /* width: 678px;
      height: 522px;
      top: 970px;
      left: 575px;
      margin-right: 50px; */
      width: 90%;

      position: relative;
  }

  .about-us-image{
      position: absolute;
      z-index: 1;
      right: 0;
      
  }

  .about-us-info{
      position: absolute;
      background-color: grey;
      z-index: 5;
      top: 10%;
      left: 30%;
      min-height: 50vh;
      
}

