
*{
    font-family: Arial, Helvetica, sans-serif;
}
html{
    font-size: 63.5%;
}


body{
    font-size: 1.6rem;
}

.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}

form{
    width: 400px;
    height: 600px;
    border: 3px solid #f1f1f1;
}


.container{
    padding: 16px;
}

input[type=email], input[type=password] {
    width: 90%;
    padding: 12px 20px;
    margin: 10px 0;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

input[type=email]{
    margin-bottom: 20px;
}

input[type=password]{
    margin-bottom: 30px;
}

input [type=checkbox] {
    display: flex;
    
}

.forgot-password{
    float: right;
    color: #e7560d;
    font-weight: 600;
    letter-spacing: 0.5px;
}
.main-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 20px;
}

label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
} 

.log-in {
    width: 83%;
    padding: 12px 20px;
    box-sizing: border-box;
    margin: 10px 17px;
    background-color: #74c1b8;
    font-size: 20px;
    border: none;
    color: #fff;
    margin-bottom: 30px;
    border-radius: 7px;
}

.social-btns{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.google-btn, .facebook-btn{
    display: flex;
    margin: 0px 20px;
    padding: 10px 20px;
    border: none;
    color: #fff;
    font-weight: bold;
    margin-bottom: 10px;
    border-radius: 5px;
    
}

.google-btn{
    background-color: #4285f3;
}

.facebook-btn{
    background-color: #3b5897;  
}


.sign-up{
    color: #e7560d;
    margin-left: 10px;
}

.circles{
    position: relative;
}

.blue-circle{
    position: absolute;
    background-color: #6273c2;
    width: 100px;
    height: 100px;
    top: -35rem;
    left: -4rem;
    border-radius: 50%;
    z-index: -1;
    /* margin-top: 10px; */
}


.red-circle{
    position: absolute;
    background-color: #ee696d;
    width: 100px;
    height: 100px;
    bottom: -35rem;
    right: -44rem;
    border-radius: 50%;
    z-index: -1;
}
