form{
    width: 600px;
    height: 600px;
    border: 2px solid red;
}

h1{
    display: flex;
    justify-content: center;
    font-weight: 600;
}

label {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input{
    display: flex;
    
    justify-content: center;
}