/* .circleTwo{
    width: 100px;
    height: 100px;
    background: red;
    border-radius: 50%;
} */

/* .circleTwo{
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
} */