/* Write and use the common classes in all sections during the project */

:root{
    --btn-primary: #5e2572;
    --btn-primary-color: #5e2572;
    --btn-secondary: #d9dbdc;
    --btn-secondary-color: #d9dbdc;
    --btn-success: #00c689;
    --btn-success-color: #00c689;
    --btn-danger: #fc7242;
    --btn-danger-color: #fc7242;
    --btn-warning: #ffc100;
    --btn-warning-color: #ffc100;
    --btn-info: #4d13d1;
    --btn-info-color: #4d13d1;
    --btn-light: #f8f9fa;
    --btn-light-color: #f8f9fa;
    --btn-dark: #4f4a60;
    --btn-dark-color: #4f4a60;
    --btn-link: transparent;
    --white-color: #fff;
    --black-color: #000000;
    --blue-color: blue;
    --btn-outline: transparent;
    --btn-primary-inverse: rgba(94, 37, 114, 0.2);
    --btn-secondary-inverse: rgba(217, 219, 220, 0.2);
    --btn-success-inverse: rgba(0, 198, 137, 0.2);
    --btn-danger-inverse: rgba(252, 114, 66, 0.2);
    --btn-warning-inverse: rgba(255, 193, 0, 0.2);
    --btn-info-inverse: rgba(77, 19, 209, 0.2);
    --btn-light-inverse: rgba(248, 249, 250, 0.2);
    --btn-dark-inverse:  rgba(79, 74, 96, 0.2);
    --space-x: 5px;
    --space-2x: 10px;
    --space-3x: 15px;
    --space-4x: 20px;
    --space-5x: 25px;
    --space-6x: 30px;
    --space-7x: 35px;
    --space-8x: 40px;
    --space-9x: 45px;
    --space-10x: 50px;
}

.btn{
    margin-right: 0.5 rem !important;
    display: inline-block !important;
}
/* Button Colors */
.btn-primary{
    background-color: var(--btn-primary);
    color: var(--white-color);
}

.btn-secondary{
    background-color: var(--btn-secondary);
    color: var(--black-color);
}

.btn-success{
    background-color: var(--btn-success);
    color: var(--white-color);
}

.btn-danger{
    background-color: var(--btn-danger);
    color: var(--white-color);
}

.btn-warning{
    background-color: var(--btn-warning);
    color: var(--black-color);
}

.btn-info{
    background-color: var(--btn-info);
    color: var(--white-color);
}

.btn-light{
    background-color: var(--btn-light);
    color: var(--black-color);
}

.btn-dark{
    background-color: var(--btn-dark);
    color: var(--white-color);
}

.btn-link{
    background-color: var(--btn-link);
    color: var(--blue-color);
}

/* Button Sizes */

.btn-small{
    padding: var(--space-x) var(--space-2x) !important;
}

.btn-medium{
    padding: var(--space-2x) var(--space-4x) !important;
}

.btn-large{
    padding: var(--space-4x) var(--space-6x) !important;
}

/* Button Border Radius */

.btn-radius-small{
    border-radius: var(--space-x);
}

.btn-radius-medium{
    border-radius: var(--space-2x);
}

.btn-radius-large{
    border-radius: var(--space-3x);
}

.btn-radius-extra{
    border-radius: var(--space-10x);
}

/* Flex Position */

.flex{
    display: flex;
}

.justify-content-center{
    justify-content: center;
}

.justify-content-between{
    justify-content: space-between;
}

.justify-content-around{
    justify-content: space-around;
}

.justify-content-start {
    justify-content: flex-start;
}

.justify-content-end {
    justify-content: flex-end;
}

/* Flex Direction Styles */
.row{
    flex-direction: row;
}

.column{
    flex-direction: column;
}

/* Align Items Styles */

.align-items-center {
    align-items: center;
}

.align-items-start {
    align-items: flex-start;
}

.align-items-end{
    align-items: flex-end;
}







