$primary-color: #373F68;

#roadmap-section{
    background-color: $primary-color;
    padding: 0 15px;
}

.roadmap-section-mobile{
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    margin: 0 auto;
}



