body {
    margin: 0;
    padding: 0;
}

.product-container {
    height: 20px auto;
    display: flex;
    padding-top: 50px;
    padding-left: 100px;
    align-content: center;
    flex-wrap: wrap;
}

.product-item-sale-percent {
    position: absolute;
    right: 15px;
    bottom: 150px;
    background-color: #f34723;
    color: white;
    padding: 3px 10px;
} 


