<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suggestions</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ac3077be4b.js" crossorigin="anonymous"></script>
</head>
<body>
    <section id="suggestion-page">
        <div class="feedback">
            <div class="feedback-topic">
                <div class="feedback-status">
                    <h1>Frontend Mentor</h1>
                    <p>Frontend Board</p>
                </div>
                <div class="categories">
                <ul>
                    <li class="category-item">All</li>
                    <li class="category-item">UI</li>
                    <li class="category-item">UX</li> 
                    <li class="category-item">Enhancement</li>
                    <li class="category-item">Bug</li>
                    <li class="category-item">Feature</li>
                </ul>
                </div>
                <div>

                <h3 class="roadmap">Roadmap</h3>
                    <a href="" class="view">View</a>
                    </div>

                <div class="status-list">
                <ul class="status-list-items">
                    <li class="radio-button-planned">Planned</li>
                    <li class="radio-button-progress">In-Progress</li>
                    <li class="radio-button-live">Live</li>
            </ul>
            </div>
            </div>
        </div>

        <div class="feedback-tab">
            <div class="feedback-tab-items">
                <i class="fa-solid fa-gear"></i>
                <h3>6 Suggestions</h3>
        </div>
    </div>
</section>


</body>
</html>