body{
    background-color: #000000;
}

.container{
    width: 70%;
    height: 100%;
    background-color: rgb(64, 149, 245);
    margin-left: 100px;
    display: flex;
    padding: 80px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}


form{
    background-color: lightgray;
    border-radius: 5px;
    padding: 70px 40px;
    width: 600px;

    
    margin-top: 250px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}