$primary-color: #AD1FEA;
$secondary-color: #4661E6;
$third-color: #4661E6;
$white-color: #FFFFFF;
$forth-color: #F2F4FF;
$fifth-color: #F7F8FD;
$sixth-color: #3A4374;
$seventh-color: #647196;
$eighth-color: #F49F85;
$ninth-color: #62BCFA;
$background-color: #F2F2F2;
$radial-color-first: #E84D70;
$radial-color-second: #A337F6;
$radial-color-third: #28A7ED;







