$large-heading-font-size: 24px;
$second-heading-font-size: 20px;
$third-heading-font-size: 18px;
$forth-heading-font-size: 14px;
$flex: flex;
$justify-content-center: center;
$justify-content-start: flex-start;
$justify-content-end: flex-end;
$justify-content-between: space-between;
$justify-content-around: space-around;
$align-items-center: center;
$align-items-start: flex-start;
$align-items-end: flex-end;
$flex-direction-row: row;
$flex-direction-column: column;
